{% load static %}
{% load i18n %}
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="{% static 'css/global/global.css' %}">
        <link rel="stylesheet" href="{% static 'css/components/synccentral/system.css' %}">
        <link rel="stylesheet" href="{% static 'css/components/layouts/settings.css' %}">
        <link rel="stylesheet" href="{% static 'css/components/header/settings.css' %}">
        <link rel="stylesheet" href="{% static 'css/components/sidebar/settings.css' %}">
        <link rel="stylesheet" href="{% static 'css/components/cards/settings.css' %}">
        <title>{% translate 'Einstellung - Konto' %}</title>
    </head>
    <body class="body-settings">
        <div class="layout">
            <div class="layout-header">
                {% include 'components/header/settings.html' with title=_("Konto") %}
            </div>
            <div class="layout-sidebar">
                {% include 'components/sidebar/settings.html' with page="account" %}
            </div>
            <main class="layout-main">
                <div class="layout-content">
                </div>
            </main>
        </div>
    </body>
