.header-content-synccentral .grid {
    display: grid;
    grid-template-columns: 75px 1fr;
    grid-template-rows: 75px;
    grid-template-areas:
        "logo title";
    grid-gap: 20px;
}

.header-content-synccentral .grid .logo {
    grid-area: logo;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

.header-content-synccentral .grid .logo img {
    height: 100%;
    width: 100%;
}

.header-content-synccentral .grid .title {
    grid-area: title;
    display: flex;
    align-items: center;
    justify-content: left;
    color: #858D93;
    font-weight: bold;
    font-size: 1.2rem;
    cursor: pointer;
}
