html, body {
    padding: 0;
    height: 100%;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
}

main {
    flex: 1 0 auto;
}

footer {
    flex-shrink: 0;
}

* {
    margin: 0;
    padding: 0;
    font-family: "Quicksand", sans-serif;
}

a {
    text-decoration: none;
}

h1 {
    font-size: 1.6rem;
}

h2 {
    font-size: 1.4rem;
}

h3 {
    font-size: 1.2rem;
}

.flex-center-center {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.access-denied {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 12px 0;
    color: #9d0300;
    font-weight: bold;
}
